Repository Project-Based-10-24-vk/Client, pull requests merged in 2024-10, with the labels that each got.

#80 #37 - fix what can you do description
  src/constants/translations/en/guest-home-page.json
  src/containers/guest-home-page/WhatCanYouDo.tsx
Labels: bug, FrontEnd part, sprint 1

#81 #41 - [Home page] fixed styles for item descriptions in “How it works” block
  src/components/title-with-description/TitleWithDescription.tsx
  src/containers/guest-home-page/cards-with-button/CardsWithButton.styles.ts
  src/containers/guest-home-page/cards-with-button/CardsWithButton.tsx
  src/containers/guest-home-page/how-it-works/HowItWorks.tsx
  src/pages/guest-home-page/GuestHome.tsx
Labels: bug, FrontEnd part, sprint 1

#87 #85 -Fix buttons title
  src/constants/translations/en/guest-home-page.json
  src/containers/guest-home-page/how-it-works/HowItWorks.tsx
Labels: bug, FrontEnd part, sprint 1

#109 #108 - fix tests for how-it-works component
  src/pages/guest-home-page/GuestHome.tsx
  src/tests/unit/containers/how-it-works/HowItWorks.spec.jsx
Labels: bug, FrontEnd part, sprint 1, test

#115 test for app-content-switcher
  src/components/app-content-switcher/AppContentSwitcher.tsx
  src/tests/unit/components/app-content-switcher/AppContentSwitcher.spec.jsx
Labels: FrontEnd part, sprint 1, test

#111 #52 - writed tests for EnhancedTablePagination
  src/components/enhanced-table/EnhancedTable.tsx
  src/components/enhanced-table/enhanced-table-pagination/EnhancedTablePagination.jsx
  src/tests/unit/components/enhanced-table/enchanced-table-pagination/EnchancedTablePagination.spec.jsx
Labels: FrontEnd part, sprint 1, test

#112 #49/test/chip list component
  src/tests/unit/components/app-chip-list/AppChipList.spec.jsx
Labels: FrontEnd part, sprint 1, test

#113 #57 test for slider-with-input
  src/tests/unit/components/slider-with-input/SliderWithInput.spec.jsx
Labels: FrontEnd part, sprint 1, test

#150 140/feature/list of categories
  src/components/categories-list/CategoriesList.tsx
  src/containers/guest-home-page/cards-with-button/CardsWithButton.tsx
  src/pages/categories/Categories.tsx
  src/services/category-service.ts
  src/tests/unit/components/question-editor/QuestionEditor.spec.jsx
Labels: FrontEnd part, Categories, sprint 3
